<!DOCTYPE html>
<html>
<head>
  <title>JPs Blog</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/css/details.css">
  <link rel="stylesheet" href="/css/shCore.css">
  <link rel="stylesheet" href="/css/shThemeDefault.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">
    body {
      padding-top: 70px;
      padding-bottom: 40px;
    }
  </style>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="#" class="brand">JPs Blog</a>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <% if signed_in? %>
            <li><a href="/posts/new">Crear Post</a></li>
          <% end %>
          <li><a href="/"></a></li>
        </ul>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><a class="sign_out" href="/admin/session">Sign out</a></li>
          <% else %>
            <li><a href="/log_in">Log In</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row-fluid">
      <div class="span10">
        <%= yield %>
      </div>
      <div class="span2 well">
        <div class="sidebar-nav">
          <ul class="nav nav-list">
<!--             <li class="nav-header">About</li>
            <li>Author Data</li> -->
            <li class="nav-header">Últimos Posts</li>
            <% recent_posts.each do |post| %>
              <li><a href="/posts/<%= post._id %>"><%= post.title %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootbox.min.js"></script>
  <script src="/js/delete.js"></script>
  <%= yield_content :scripts %>
</body>
</html>