<h1>Log In</h1>

<form action="/log_in" method="post">
  <div>
    <label>Email</label>
  </div>
  <div>
    <input type="text" name="email">
  </div>
  <div>
    <label>Password</label>
  </div>
  <div>
    <input type="password" name="password">
  </div>
  <div>
    <button type="submit" class="btn">Log In</button>
  </div>
</form> 