<% content_for :scripts do %>
  <script src="/js/mercury_loader.js?saveStyle=form&saveMethod=PUT" type="text/javascript"></script>
  <script src="/js/mercury_settings_edit.js" type="text/javascript"></script>
<% end %>

  <h1>
    <div id="post_title" data-mercury="full">
      <%= @post.title %>
    </div>
  </h1>

  <p>
    <div id="post_description" data-mercury="full">
      <%= @post.description %>
    </div>
  </p>

  <p>
    <div id="post_content" data-mercury="full">
      <%= @post.content %>
    </div>
  </p>
