<!-- views/posts/index.erb -->
<h1>Blog personal de JP</h1>
<% @posts.each do |post| %>
    <h2><%= post.title %>
      <span class="date"><%= post.pretty_date %></span></h2>
    <p><%= post.description %></p>
    <p><a class="btn btn-info" href="/posts/<%= post._id %>" >Continuar </a></p>
<% end %>

<%= will_paginate @posts, previous_label: '', next_label: '' %>