<% content_for :scripts do %>
  <script src="/js/mercury_loader.js?saveStyle=form" type="text/javascript"></script>
  <script src="/js/mercury_settings_new.js" type="text/javascript"></script>
<% end %>

<!-- views/posts/new.erb -->
<h1>Nuevo Post</h1>

<h1>
  <div id="post_title" data-mercury="full">
    Titulo del post
  </div>
</h1>

<p>
  <div id="post_description" data-mercury="full">
    Descripción del post
  </div>
</p>

<p>
  <div id="post_content" data-mercury="full">
    Contenido del post
  </div>
</p>
