<% content_for :scripts do %>
  <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
  <script src="/js/shBrushJScript.js" type="text/javascript"></script>
  <script src="/js/shBrushRuby.js" type="text/javascript"></script>
  <script src="/js/shBrushXml.js" type="text/javascript"></script>
  <script src="/js/shBrushCoffeeScript.js" type="text/javascript"></script>
  <script type="text/javascript">
    SyntaxHighlighter.all();
  </script>
<% end %>

<h1><%= @post.title %></h1>
<p><%= @post.description %></p>
<p><%= @post.content %></p>
  

<% if @comments_size > 0 %>
  <h3><%= @comments_size == 1 ? "Un Comentario" : "#{@comments_size} Comentarios " %></h2>
<% end %>

<% @post.comments.each do |comment| %>
  <div class="row-fluid comment-container">
    <div class="span1">
      <img src="<%= comment.author.gravatar_url %>"/>
    </div>
    <div class="span8">
      <h4 class="no-margins"><%= h comment.author.name %></h3>
      <h5 class="no-margins"><%= h comment.created_at.pretty_date %></h4>
      <p ><%= h comment.content %></p>
    </div>
  </div>
<% end %>

<form action="/posts/<%= @post._id %>/comments" method="post">
  <legend>Deja un comentario</legend>
  <fieldset>
    <div>
      <input type="text" class="span3" name="[author][name]" placeholder="Nombre" required />
      <input type="text" class="span3" name="[author][email]" placeholder="Email" required />
    </div>
    <div>
      <textarea class="span6" rows="6" name="[comment][content]" placeholder="Escribe tu comentario aqui ..." required></textarea>
    </div>
    <button type="submit" class="btn">Enviar Comentario</button>
  </fieldset>
</form>

<% if signed_in? %>
  <a class="btn btn-warning" href="/posts/<%= @post._id %>/edit">Edit</a>
  <a class="delete_post btn btn-danger" href="/posts/<%= @post._id %>">Delete</a>
<% end %>